/*@font-face {
    font-family: MyWebFont;
    src: url('webfont.eot');

}*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Lobster', cursive;*/
body {
    font-family: 'Monsterrat', sans-serif;
    max-width: 960px;
    margin: auto;
}
header {
    background-color: #FFFFFA;
    text-align: center;
    padding: 1em;
    margin: 0;
}
header h1 {
    font-family: 'Lobster', cursive;
    color: #FF5386;
    /*padding-top: 68px;*/
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    float: left;
}
header img {
    float: right;
    width: 30%;
}
nav {
    margin: 0;
    float: bottom;
}
p {
    color: #f3eef8;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    background-image: url("../images/slash_it_@2X.png");
    background-repeat: repeat;
    line-height: 1.4em;
    font-size: 2em;
    padding: 20px;
}
p.secondary {
    background: linear-gradient(to right, red, yellow, green);
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #d896ff;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: #be29ec;
}
h3 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: darkviolet;
}
h4 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #800080;
}
h5 {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    color: #660066;
}
a {
    color: peachpuff;
}
a:visited {
    color: #5bc0de;
}
a:hover {
    color: #698f3f;
}
a:active {
    color: #d9534f;
}
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
    color: white;
}
div.beach {
    width: 345px;
    height: 304px;
    background-image: url("../images/beach.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-family: sans-serif;
    font-weight: medium;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 139px;
    padding-left: 10px;
    color: black;
}
/*img.thumbnail {
    width: 200px;
}*/
div.gallery {
    width: 80%;
    border: 2px solid black;
    margin: auto auto;
    padding: 2em;
}
.gallery img.thumbnail {
    width: 200px;
    padding: 1em;
}
.gallery .buttons {
    font-size: 2em;
}
.gallery #left {
    color: white;
}
.clear {
    clear: both;
}